In [ ]:
import pandas as pd

# load the dataset
file_path = '../data/raw/land_use_data.csv'
df = pd.read_csv(file_path)

,Period,Subdivision,Cropland_pct,Grassland_pct,Forest_pct,Wetland_pct,Cropland_area,Grassland_area,Forest_area,Wetland_area,Biodiversity_Score
0,Year-2000,Subdivision_1,48.423590,22.447908,17.976951,NaN,4842.358998,2244.790823,1797.695130,NaN,0.482540
1,Year-2001,Subdivision_1,51.335362,22.963853,17.747514,NaN,5133.536248,2296.385289,1774.751423,NaN,0.463808
2,Year-2002,Subdivision_1,51.479157,22.624337,17.708999,NaN,5147.915682,2262.433700,1770.899942,NaN,0.463585
3,Year-2003,Subdivision_1,51.392751,20.299837,17.129947,NaN,5139.275142,2029.983661,1712.994723,NaN,0.468174
4,Year-2004,Subdivision_1,51.475015,22.063842,17.344408,NaN,5147.501494,2206.384233,1734.440775,NaN,0.464367
5,Year-2005,Subdivision_1,50.930313,22.752949,16.156433,NaN,5093.031271,2275.294877,1615.643279,NaN,0.465069
6,Year-2006,Subdivision_1,50.704952,23.910695,16.130546,NaN,5070.495153,2391.069476,1613.054616,NaN,0.464079
7,Year-2007,Subdivision_1,51.664838,20.750606,16.766740,NaN,5166.483762,2075.060586,1676.673980,NaN,0.465277
8,Year-2008,Subdivision_1,50.161965,22.422779,16.820780,NaN,5016.196499,2242.277938,1682.077960,NaN,0.471003
9,Year-2009,Subdivision_1,51.537984,21.054227,16.964992,NaN,5153.798375,2105.422725,1696.499215,NaN,0.465629

In [9]:
# clean up year data
df['Year'] = df['Period'].str[-4:].astype(int)
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

# remove unnecessary subdivision name prefix
df['Subdivision'] = df['Subdivision'].str[-1:]

df[:10]

,Period,Subdivision,Cropland_pct,Grassland_pct,Forest_pct,Wetland_pct,Cropland_area,Grassland_area,Forest_area,Wetland_area,Biodiversity_Score,Year
0,Year-2000,1,48.423590,22.447908,17.976951,NaN,4842.358998,2244.790823,1797.695130,NaN,0.482540,2000-01-01
1,Year-2001,1,51.335362,22.963853,17.747514,NaN,5133.536248,2296.385289,1774.751423,NaN,0.463808,2001-01-01
2,Year-2002,1,51.479157,22.624337,17.708999,NaN,5147.915682,2262.433700,1770.899942,NaN,0.463585,2002-01-01
3,Year-2003,1,51.392751,20.299837,17.129947,NaN,5139.275142,2029.983661,1712.994723,NaN,0.468174,2003-01-01
4,Year-2004,1,51.475015,22.063842,17.344408,NaN,5147.501494,2206.384233,1734.440775,NaN,0.464367,2004-01-01
5,Year-2005,1,50.930313,22.752949,16.156433,NaN,5093.031271,2275.294877,1615.643279,NaN,0.465069,2005-01-01
6,Year-2006,1,50.704952,23.910695,16.130546,NaN,5070.495153,2391.069476,1613.054616,NaN,0.464079,2006-01-01
7,Year-2007,1,51.664838,20.750606,16.766740,NaN,5166.483762,2075.060586,1676.673980,NaN,0.465277,2007-01-01
8,Year-2008,1,50.161965,22.422779,16.820780,NaN,5016.196499,2242.277938,1682.077960,NaN,0.471003,2008-01-01
9,Year-2009,1,51.537984,21.054227,16.964992,NaN,5153.798375,2105.422725,1696.499215,NaN,0.465629,2009-01-01